html,body {
    height: 100%;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

h1{
    position: relative;
    font-weight: bold;
    font-size: 3.75em;
    color :  #fe504f;
    z-index: 2;
}
h2{
    color:  white;
    position:relative;
    font-size: 2em;
    text-transform: uppercase;
    z-index: 2;
}

/*background*/
.dark-background {
    z-index: 0;
    position: fixed;
    z-index: 1;
    background-color:rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
}
.image-background {
    position: fixed;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    width: 100%;
    z-index: -1;
}
.image-background img {
    width:100%;
    height: auto;
    -webkit-filter: grayscale(100%); 
    filter: blur(4px);
}
.colored-background {
    background: #fe504f; 
    position: relative;
}

/*header*/
.header-container {
    position: absolute;
    width:100%;
    text-align: center;
    z-index: 1;
    opacity: 0;
}
@media (min-width: 992px) { 
    .header-container {
        top: 25% 
    }
}
@media (max-width: 992px) { 
     .header-container {
        top: 130px; 
    }
}

.down-arrow {
    margin: 0 auto;
    opacity: 0.8;
    width: 3%;
    position: relative;
}
.down-arrow:hover {
    opacity: 1;
    cursor: pointer;
}

/*body*/
.main-container {
    width:100%;
    top: 90%;
    position:absolute;
    z-index: 2;
}
/*@media (min-width: 992px) { 
    .main-container {
        top: 90% 
    }
}
@media (max-width: 992px) { 
     .main-container {
        top: 500px; 
    }
}
*/

/*about*/
.about {
    margin-top: 60px;
    margin-bottom: 60px;
    overflow: hidden;
}
@media (max-width: 992px) { 
    .about , .about .about-self-img{
        text-align: center;
    }
    .self-img{
        margin: 0 auto !important;
    }
}


/* self image*/
.self-img{
    background: url(../img/mee.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 130px; height: 130px;
    border-radius: 50%;
    margin-right: 20px;
   
}
@media (min-width: 992px) { 
    .self-img {
        position:absolute;
        right:100%;
        opacity: 0;
    }
}

.self-img img {
    position: relative;
    max-width: 100%;
    max-height: auto;
}

.about-text {
    font-size:1.285em;
   color: white;
}

@media (min-width: 992px) { 
    .about-text  {
        left:100%;
        opacity: 0;
    }
}
@media (max-width: 992px) { 
    .about-text {
        font-size: 1.571em;
    }
}

.about-welcome {
    font-size: 1.285em;
    color: white;
    font-weight: bold;
}
/* skills */
.skills {
    position: relative;
    overflow: hidden;
    max-height: 600px;
}
.skills-background {
    width: 100%;
    z-index: -1;
    position: relative;
}
.skills-dark-background {
    z-index: 3;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    background-color:rgba(0,0,0,0.8);
}
.skills-header{
    text-align: center;
    top: 30px;
    position: absolute;
    z-index: 4;
}
.skills-content{
    top: 120px;
    position: absolute;
    text-align: center;
    z-index: 4;
}
.skills h2 {
    color:  #fe504f ;
}
.icon-container, .progress-bar-container {
    height: 60px;
    margin-bottom: 15px;
}
.skills-icon {
    height: 100%;
    width: 100%;
    position: relative;
    opacity: 1;
    display: inline-block;
}
.progress-container {
    display: inline-block;
    width: 100%;
    height:35%;
    margin-top: 21px;
    border: 1px solid white;
    border-radius: 10px;
    position: relative;
    color:white;
    text-align: center;
    font-size: 1em;
}

.percentage{
    position: absolute;
    width: 0%;
    max-width: 96%;
    height: 70%;
    top:15%;
    left:2%;
    z-index: -1;
    background-color: #fe504f;
    border-radius: 10px;
   
}

/* projects*/

.projects-background{
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 992px) { 
    .projects-background {
        height: 600px;
    }
}
.projects-header {
    text-align: center;
    position: relative;
    margin-top: 30px;
}
.projects-header h2 {
    color: white;
}

/*arrows*/
.left-arrow, .right-arrow, .slider {
    position: relative;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column; /* Safari 6.1+ */

}
.arrow {
    position: relative;
    width: 40px;
    margin: auto;
    display: block;
    z-index: 10;
    cursor: pointer;
}

/*slider*/
.slider {
    position: relative;
    overflow: hidden;
    padding: 60px 0 60px 0;
}

.slides-container {
    padding: 0 !important;
    width: 400%;
    right:0;
    left:0;
}

.slide {
    padding: 0 !important;
    position: relative;
}

.slide-image {
    position: relative;
}

.slide-image img {
    width: 100%;
}
.slide-image-container {
    width: 200px;
    position: relative;
}
@media (max-width: 992px) { 
    .slide-image-container {
        margin: 0 auto;
    }
}
.website-container {
    position: absolute;
    width:100%;
    padding: 10px;
    height: 65%;
    top:0;
    left:0;
    overflow: hidden;

}

.slide-text {
    position: relative;
    color:white;
    height: 100%;
    text-align: left;
    font-size:1.285em;

}
@media (max-width: 992px) { 
    .slide-text {
        margin-top: 10px;
        text-align: center;
        font-size: 1.571em;
    }
}

.slide-text a{
    color: #32100f;
    opacity: 0.7;
    font-size:1.285em;
}
@media (max-width: 992px) { 
    .slide-text a {
        font-size: 1.571em;
    }
}
.slide-text a:hover {
    text-decoration: none;
    opacity: 1;
}


/*contact me*/
.contact-me {
    position: relative;
    background : rgba(0,0,0,0.7);
    padding-top: 100px;
    padding-bottom: 100px;
    bottom: 0;
    overflow: hidden;
}
.left-contact-side {
    border-right: 1px solid white;
    color: white;
    height: 150px;
    position: relative;
    overflow: hidden;
    font-size: 1.285em;
}
.left-content{
    position: absolute;
    right: 100%;
    opacity: 0;
}
.right-contact-side {
    height: 100px;
    position: relative;
    overflow: hidden;
}
.right-content{
    position: absolute;
    left: 100%;
    opacity: 0;
    font-size: 1.285em;
}

.contact-title {
    color: #fe504f ;
    margin-bottom: 10px;
}
.contact-icon {
    width:25px;
    height: 25px;
    margin-right: 8px;
    font-size: 1.125em;
}
.contact-info {
    display: block;
    color: white !important;
    text-decoration: none !important;
    opacity: 0.8;
    margin-top: 10px;
}
.contact-info:hover{
    opacity: 1;
    color: white !important;
    text-decoration: none !important;
}

.download-resume {
    display: inline-block;
    margin-top: 30px;
    margin-right: 10px;
}